<!doctype html>
<html>
<head>
<title>JEL.bz paste bin</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<style type="text/css">
</style>
</head>
<body>
<h1>JEL.bz paste bin</h1>
<pre><code>
	{%- for line in paste_content -%}
	<span class="{{ loop.cycle('odd', 'even') }}">{{ line }}</span><br>
	{%- endfor -%}
</code></pre>
</body>
</html>